openapi: 3.2.0
info:
  title: Lucidworks Embeddings and Classification Tokenization API
  description: The Embeddings and Classification API generates 768-dimensional vector encodings using the English Language Model text encoder, returns ranked classification labels, exposes custom model predictions, and tokenizes inputs by model ID. Use these endpoints to power vector search, similarity, and downstream ML pipelines.
  version: 1.0.0
  contact:
    name: Lucidworks Support
    url: https://lucidworks.com/support
servers:
- url: https://api.lucidworks.ai
security:
- bearerAuth: []
tags:
- name: Tokenization
  description: Tokenize text by model
paths:
  /ai/tokenize/{modelId}:
    post:
      tags:
      - Tokenization
      summary: Tokenize text
      description: Return token IDs and tokens for the input text.
      operationId: tokenize
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              properties:
                input:
                  type: string
      responses:
        '200':
          description: Tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: string
                  ids:
                    type: array
                    items:
                      type: integer
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lucidworks API Reference
  url: https://doc.lucidworks.com/api-reference
