openapi: 3.2.0
info:
  title: Lucidworks and Classification Embeddings API
  description: The Embeddings and Classification API generates 768-dimensional vector encodings using the English Language Model text encoder, returns ranked classification labels, exposes custom model predictions, and tokenizes inputs by model ID. Use these endpoints to power vector search, similarity, and downstream ML pipelines.
  version: 1.0.0
  contact:
    name: Lucidworks Support
    url: https://lucidworks.com/support
servers:
- url: https://api.lucidworks.ai
security:
- bearerAuth: []
tags:
- name: Embeddings
  description: Generate vector encodings
paths:
  /ai/encode/{modelId}:
    post:
      tags:
      - Embeddings
      summary: Encode text to embedding
      description: Generate a 768-dimensional vector encoding from input text.
      operationId: encodeText
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncodeRequest'
      responses:
        '200':
          description: Embedding vector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Embedding'
components:
  schemas:
    EncodeRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: string
    Embedding:
      type: object
      properties:
        embedding:
          type: array
          items:
            type: number
        dimensions:
          type: integer
          example: 768
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lucidworks API Reference
  url: https://doc.lucidworks.com/api-reference
