openapi: 3.1.0
info:
  title: Lucidworks AI Platform Chunking Signals API
  description: The Lucidworks AI Platform API exposes prediction endpoints for FAQ enrichment, keyword extraction, named entity recognition (NER), retrieval augmented generation (RAG), summarization, passthrough LLM calls, and standalone query rewriting. Predictions are submitted by use case and fetched asynchronously by prediction ID.
  version: 1.0.0
  contact:
    name: Lucidworks Support
    url: https://lucidworks.com/support
  license:
    name: Lucidworks Terms of Service
    url: https://lucidworks.com/terms
servers:
- url: https://api.lucidworks.ai
  description: Lucidworks AI production environment
security:
- bearerAuth: []
tags:
- name: Signals
  description: Capture and retrieve user behavior signals
paths:
  /signals/click:
    get:
      tags:
      - Signals
      summary: Get click signals
      operationId: getClickSignals
      parameters:
      - name: app
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Click signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalList'
    post:
      tags:
      - Signals
      summary: Record click signal
      operationId: recordClickSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signal'
      responses:
        '201':
          description: Signal recorded
  /signals/query:
    get:
      tags:
      - Signals
      summary: Get query signals
      operationId: getQuerySignals
      responses:
        '200':
          description: Query signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalList'
    post:
      tags:
      - Signals
      summary: Record query signal
      operationId: recordQuerySignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signal'
      responses:
        '201':
          description: Signal recorded
  /signals/cartadd:
    get:
      tags:
      - Signals
      summary: Get cart-add signals
      operationId: getCartAddSignals
      responses:
        '200':
          description: Cart-add signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalList'
    post:
      tags:
      - Signals
      summary: Record cart-add signal
      operationId: recordCartAddSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signal'
      responses:
        '201':
          description: Signal recorded
  /signals/purchase-complete:
    get:
      tags:
      - Signals
      summary: Get purchase-complete signals
      operationId: getPurchaseCompleteSignals
      responses:
        '200':
          description: Purchase signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalList'
    post:
      tags:
      - Signals
      summary: Record purchase-complete signal
      operationId: recordPurchaseSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signal'
      responses:
        '201':
          description: Signal recorded
components:
  schemas:
    Signal:
      type: object
      properties:
        type:
          type: string
        userId:
          type: string
        sessionId:
          type: string
        timestamp:
          type: string
          format: date-time
        params:
          type: object
          additionalProperties: true
    SignalList:
      type: object
      properties:
        signals:
          type: array
          items:
            $ref: '#/components/schemas/Signal'
        count:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lucidworks AI Platform API Reference
  url: https://doc.lucidworks.com/api-reference
