openapi: 3.2.0
info:
  title: Lucidworks Embeddings Classification API
  description: The Embeddings and Classification API generates 768-dimensional vector encodings using the English Language Model text encoder, returns ranked classification labels, exposes custom model predictions, and tokenizes inputs by model ID. Use these endpoints to power vector search, similarity, and downstream ML pipelines.
  version: 1.0.0
  contact:
    name: Lucidworks Support
    url: https://lucidworks.com/support
servers:
- url: https://api.lucidworks.ai
security:
- bearerAuth: []
tags:
- name: Classification
  description: Predict ranked labels
paths:
  /ai/classify/{modelId}:
    post:
      tags:
      - Classification
      summary: Classify text
      description: Return ranked labels for the given input text.
      operationId: classifyText
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassifyRequest'
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyResponse'
  /ai/predict/{modelId}:
    post:
      tags:
      - Classification
      summary: Custom model prediction
      description: Invoke a custom deployed model for prediction.
      operationId: customPrediction
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Prediction result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    ClassifyResponse:
      type: object
      properties:
        labels:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              score:
                type: number
    ClassifyRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: string
        topK:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lucidworks API Reference
  url: https://doc.lucidworks.com/api-reference
